@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{margin:0; padding:0;}
li{list-style: none}
a{cursor:pointer;
    text-decoration: none;}

body,section,div,header,footer,ul,li,p,h1,h2,h3,h4,h5,h6,a,address,nav{font-family: 'Noto Sans KR', sans-serif;font-size: 14px; color: #222; font-style: normal; line-height: 1.6em;}


#header{position: relative; height: 100px;}
#header .header_inner{position: relative; width: 1200px;; margin: 0 auto; height: 100px;}
#header .logo{ position: absolute; left: 0; top: 0;}
#header .util{position: absolute; right: 0; top: 0;}
#header .util ul{display: flex; }
#header .util ul a{display: block; padding: 5px 10px; font-size: 13px;}
#header .store{position: absolute; left: 50%; transform: translateX(-50%); border-bottom: 1px solid #000; top: 5px;}
#header .gnb{position: absolute; bottom: 0; width: 100%}
#header .gnb>ul{ display: flex; justify-content: space-between;}
#header .gnb>ul>li>a:hover{color:#572a31; font-weight: bold; cursor: pointer;}
#header .gnb>ul a{display: block; line-height: 50px;}

#main{position: relative; margin:0 auto;}
#main img{width: 100%;}
#main .menu_text{position:absolute; top:50%; left: 50%; color: #fff; transform: translate(-40%, -50%); font-size: 60px; font-weight: bolder;}

#choose{position: relative; background-color: #c6c6c6; height: 100px; margin-top: -10px;}
#choose .drink{position: relative; width: 415px; height: 100px; margin-left: 360px;}
#choose .drink>span{position: absolute; top:40%; left: 45%;}
#choose .drink:hover{background-color: #572a31; color: #fff; cursor: pointer;}
#choose .side{position: relative; width: 415px; height: 100px; margin-left:775px; margin-top: -100px;}
#choose .side>span{position: absolute; top:40%; left: 45%;}
#choose .side:hover{background-color: #572a31; color: #fff; cursor: pointer;}
#choose .md{position: relative; width: 415px; height: 100px; margin-left: 1190px; margin-top: -100px;}
#choose .md>span{position: absolute; top:40%; left: 45%;}
#choose .md:hover{background-color: #572a31; color: #fff; cursor: pointer;}

#content1{position: relative; margin-top: 80px;}
#content1 .about{border-top: 2px solid #000; border-bottom: 2px solid #000; width: 204px; position: absolute; left:860px;}
#content1 .about p{font-size:30px; text-align: center; font-weight: bold;}
#content1 .zo{font-size: 18px; position: absolute; left:890px; top: 180px;}
#content1 .month{font-size: 18px; position: absolute; left:895px; top:250px;}
#content1 .tex{font-size: 18px; font-weight: bold; position: absolute; left: 770px; top:360px;}

#intro{position: relative; margin-top: 600px; margin-left: 360px;}
#intro .ul::after{content: ""; display: block; clear: both; }
#intro ul li{float: left;}
#intro ul{display: flex; flex-wrap: wrap;}
#intro ul>li{width:28.88%; margin-bottom: 50px;}
#intro ul>li>img{ display: block;}
#intro p{margin-left: 50px;}

#logo_his{position: relative; margin-left: 360px; margin-top: 50px;}
#logo_his .title{font-size: 18px; font-weight: bold; position: absolute; left:450px;}
#logo_his .ul::after{content: ""; display: block; clear: both; }
#logo_his ul li{float: left;}
#logo_his ul{display: flex; flex-wrap: wrap; padding-top: 50px;}
#logo_his ul>li{width:13%; margin-bottom: 50px;}
#logo_his ul>li>img{ display: block;}
#logo_his ul>li>p{margin-left: 50px;}

#bon{position: relative; margin-left: 360px; margin-top:50px ;}
#bon .last{position: absolute; font-size: 18px; font-weight: bold; left:530px; top:0;}
#bon table{position: absolute; top:50px; left: 300px;}
#bon table,tr,th,td{border-bottom:1px solid #c6c6c6 ; border-collapse: collapse;}

#footer{position:relative; margin-top: 300px; background-color: #e6e6e6; height: 172px;}
#footer .cu{font-size: 10px; font-weight: lighter; position: absolute; top:20%; left: 10%; color: #572a31;}
#footer .tel{font-size: 14px; font-weight: lighter; color:#572a31; position: absolute; top:27%; left:10%; }
#footer .me{font-size: 10px; font-weight: lighter; color: #572a31; position: absolute; top:18%; left:20%}
#footer .add{font-size:10px; font-weight: lighter; position: absolute; top:70%; left:20% ; color: #585858;}
#footer .phone{font-size: 10px; font-weight: lighter; position: absolute; top:77%; left:20% ; color: #585858;}
#footer .sns_2{font-size: 10px; font-weight: lighter; color: #585858; position: absolute; left:70%; top:17%;}
#footer >img{position: absolute; left:70%; top:30%;}